<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Publication</title>
    <meta charset="utf-8">
    <link href="https://getbootstrap.com/docs/4.6/examples/blog/" rel="canonical">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@1.0.0/dist/css/BsMultiSelect.bs4.min.css"
          rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/pricing.css}" rel="stylesheet">
    <link th:href="@{/css/publication.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>

        <div class="col-md-12">
            <div class="card card-body mt-2 flex-row mb-3">
                <div class="mr-2 mb-3 mb-lg-0">
                    <img th:src="${(publication.getImageUrl() == null or publication.getImageUrl().equals('')) ? 'https://via.placeholder.com/300x300' : publication.getImageUrl()}" class="cover_img " width="300" height="300" alt="">
                </div>
                <div class="pricing-header pl-3">
                    <a sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{/admin/publications/edit/{id}(id=${publication.id})}"
                       class="fa fa-pencil" aria-hidden="true" style="text-align: end; margin-bottom: 0"></a>
                    <p th:text="${#temporals.format(publication.publicationDate, 'dd LLLL yyyy')}" class="text-muted" style="text-align: end; margin-bottom: 0">
                    </p>
                    <h1 th:text="${publication.title}" class="display-4"></h1>
                    <hr/>
                    <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                        <li th:each="genre : ${publication.genres}" class="list-inline-item">
                            <a th:href="@{/catalog(genres=${genre.id})}"
                               th:text="${genre.name}" class="text-muted"
                               data-abc="true"></a>
                        </li>
                    </ul>
                    <p th:text="${publication.description}" class="lead"></p>

                </div>
            </div>
        </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure want to subscribe?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="rateForm" method="post" th:action="@{/user/subscriptions/add}">
                <div class="modal-body">
                    <p sec:authorize="isAuthenticated()">Cost of subscription will be withdrawn from you account.</p>
                    <p sec:authorize="!isAuthenticated()"><b>SIGN IN</b> or <b>SIGN UP</b> to be able to subsribe to publication!</p>
                    <input type="hidden" id="hiddenRateInput" th:name="rateId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button sec:authorize="isAuthenticated()" th:text="'Confirm'" type="submit" class="btn btn-dark" >
                    </button>
                    <button sec:authorize="!isAuthenticated()"  type="button" class="btn btn-dark" >
                        <a th:text="'Sign in'" th:href="@{/login}" style="color: #dddddd"></a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/publication.js}"></script>
</body>
</html>
